extends ../../accesslayout
block nav 
    - var actsidmenu = "reports" 
block head
    title Payroll
block styles
    link(rel='stylesheet' href='/datatables/DataTables-1.10.18/css/dataTables.semanticui.min.css')      
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        .active.section Payroll Report
    .ui.segment
        - var activeitem = 'payroll'
        include includes/topmenu
        if success_msg && success_msg != ""             
            .ui.success.message                
                .header #{success_msg}
        h4.ui.header.horizontal.divider
            | Payroll Report

        .ui.grid
            .maxwidthcol             
                table.ui.table(id="performanctable" )
                    thead
                        tr
                            th Name
                            th Date
                            th Year
                            th Month
                            th Amount
                    tbody
                        each payroll in payrolldata
                            tr
                                td #{payroll.userdetails.name}                                
                                td #{moment(payroll.date).format('DD/MM/YYYY')}
                                td #{payroll.year}
                                td #{payroll.month}
                                td #{payroll.amount}

block scripts
    script(src="/datatables/DataTables-1.10.18/js/jquery.dataTables.min.js")
    script(src="/datatables/DataTables-1.10.18/js/dataTables.semanticui.min.js")
    script. 
        $('#performanctable').DataTable();