extends ../accesslayout
block head
    title View/Edit #{cuser.name}
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        a.section(href="/users") User List
        i.right.chevron.icon.divider
        .active.section  #{cuser.name}    
    if success_msg && success_msg != ""             
        .ui.success.message                
            .header #{success_msg}        
    .ui.segment               
        h4.ui.header.horizontal.divider
            | View/Update User 
        form.ui.form(action="/users/updateuser/#{cuser._id}" method="post" enctype="multipart/form-data")
            .fields
                if cuser.profilepicture != ""
                    .sixteen.wide.field
                        .centerimagemaindiv                        
                            a(href="/profilepictures/#{cuser.profilepicture}" target="_blank" title="Click here to View")
                                img.main_profile(src="/profilepictures/#{cuser.profilepicture}")                        
            .fields
                .four.wide.field
                    label  Full Name
                    input(type="text" name="name" placeholder="Full Name" required="true" value="#{cuser.name}")
                .four.wide.field
                    label  Email
                    input(type="email" name="email" placeholder="Email" required="true" value="#{cuser.email}" )
                .four.wide.field
                    label  Gender
                    .field
                        .ui.radio.checkbox
                            input(type='radio' id="id_gendermale" name='gender' value="male" checked="#{cuser.gender}"=="male" )
                            label(for="id_gendermale") Male                                                        
                    .field
                        .ui.radio.checkbox
                            input(type='radio' id="id_genderfemale" name='gender' value="female" checked="#{cuser.gender}"=="female" )
                            label(for="id_genderfemale") Female
                .four.wide.field
                    label  DOB
                    input(type="date" name="dob" placeholder="Date of Birth" value=(typeof cuser.dob === "undefined" ? "" : cuser.dob))
            .fields
                .four.wide.field
                    label  Designation
                    input(type="text" name="designation" placeholder="Designation", value=(typeof cuser.designation === "undefined" ? "" : cuser.designation) )
                .four.wide.field
                    label  Address
                    textarea(type="text" name="address" placeholder="Address" rows="1" )
                        | #{typeof cuser.address === "undefined" ? "" : cuser.address}
                .four.wide.field
                    label  Zip/Pin Code
                    input(type="number" name="pincode" placeholder="Zip/Pin Code" value=(typeof cuser.pincode === "undefined" ? "" : cuser.pincode) )
                .four.wide.field
                    label Browse Profile Picture
                    input(type="file" name="file" accept="image/*")
            .fields 
                .sixteen.wide.field                    
                    a.ui.button.red(href="/users/removeaccount/#{cuser.id}" id="resetpasswordconfirm")
                        | Delete Account
                    a.ui.button(href="/users/resetpassword/#{cuser.id}" )
                        | Reset Password
                    button.ui.right.floated.primary.button 
                        | Save
                    a.ui.right.floated.button(href="/users")
                        | Cancel
    .ui.segment               
        h4.ui.header.horizontal.divider
            | Bank Account
        form.ui.form(action="/users/updateuserbank/#{cuser._id}" method="post" )
            .fields
                .four.wide.field
                    label  Account Name                    
                    input(type="text" name="name" placeholder="Account Name" required="true" value=(bankacc!=null?bankacc.name:"") )
                .four.wide.field
                    label  Account No
                    input(type="number" name="accountno" placeholder="Account No" value=(bankacc != null ? bankacc.accountno:"") required="true")
                .four.wide.field
                    label  IFSC Code
                    input(type="text" name="ifsccode" placeholder="IFSC Code" value=(bankacc != null ? bankacc.ifsccode:"") required="true")
                .four.wide.field
                    label  Location
                    input(type="text" name="location" placeholder="Location" value=(bankacc != null ? bankacc.location:"") required="true")                            
            .fields 
                .sixteen.wide.field                                                            
                    button.ui.right.floated.primary.button 
                        | Update  

    .ui.segment(id="ctcionformation")               
        h4.ui.header.horizontal.divider
            | CTC Information 
        form.ui.form(action="/users/addctcdetails/#{cuser._id}" method="post" )
            .fields
                .four.wide.field    
                    label  Category                    
                    select.ui.fluid.search.dropdown(name='ctccategoryid')                        
                        each ctccategory in ctccategorylist
                            option( name="ctccategoryid" value='#{ctccategory._id}') #{ctccategory.name}
                .four.wide.field
                    label Amount
                    input(type="number" name="amount" placeholder="Amount" value="" autocomplete="false" )
                .four.wide.field
                    button.ui.button.addbtn_space    
                        | Add        
        - var totalamo = 0 
        table.ui.table  
            thead
                tr  
                    th Category                    
                    th Period
                    th Amount
                    th Action
            tbody                    
                each ctcdata in ctcdatalist      
                    - totalamo += ctcdata.amount
                    tr  
                        td #{ctcdata.ctccategoryid.name}                                            
                        td #{ctcdata.ctccategoryid.payperiod}                        
                        td #{ctcdata.amount}               
                        td  
                            a( class="deleteconfirm" href="/users/removectcdata/#{cuser._id}/#{ctcdata._id}")
                                i.ui.trash.icon 
            tfoot                        
                tr  
                    th(colspan="2")
                        b Total                        
                    th(colspan="2")                                                
                        b #{totalamo}


                                
                                                                  

        .ui.message
            .header
                | Information
            p
                | Category can be updated 
                a(href="/settings/ctccategory") Here
