extends ../../accesslayout
block nav 
    - var actsidmenu = "payroll" 
block head
    title Payroll
block styles    
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        .active.section Payroll
    .ui.segment
        if success_msg && success_msg != ""             
            .ui.success.message                
                .header #{success_msg}
        h4.ui.header.horizontal.divider
            | Payroll 
        form.ui.form( id="submitpayrollform" action="/payroll/" method="get")       
            .fields
                .three.wide.field
                    label  Year
                    input( type="number" id="idyear" min="2017" max="2050" value="#{year}" name="year" required="true" )
                .three.wide.field
                    label  Month
                    input( type="number" id="idmonth" min="1" max="12" value="#{month}" name="month" required="true" )
                button.button.ui.addbtn_space Submit
        table.ui.table 
            thead   
                th Name                
                th Date
                th Amount
                th Status
                th Action
            tbody   
                each payrolluser in userlist
                    tr
                        td #{payrolluser.user.name}   
                        td 
                            if payrolluser.payroll == null 
                                i Not Updated Yet
                            else
                                | dhf
                        td
                            - var totoalamount = 0
                            each ctcdata in payrolluser.ctcdata
                                - totoalamount += ctcdata.amount
                            if totoalamount == 0
                                | CTC data has not updated yet
                                a(href="/users/viewuser/#{payrolluser.user._id}/#ctcionformation") Update Here            
                            else
                                |#{totoalamount}
                        td 
                            if payrolluser.payroll == null 
                                | Not Send
                            else
                                | Marked as sent
                        td
                            if payrolluser.payroll == null 
                                if totoalamount == 0
                                    | NA                                    
                                else
                                    a(href="/payroll/markassent/#{payrolluser.user._id}/#{year}/#{month}") Mark as sent
                            else
                                a(href="/payroll/remove/#{payrolluser.payroll._id}") Remove
                                