extends ../../accesslayout
block nav 
    - var actsidmenu = "attendance" 
block head
    title Attendance
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        .active.section Attendance
    .ui.segment
        if success_msg && success_msg != ""             
            .ui.success.message                
                .header #{success_msg}
        h4.ui.header.horizontal.divider
            | Attendance
        a.ui.button(href="/attendance/add") Add Attendance
        hr
        table.ui.table  
            thead
                th Date
                th User Name
                th Status
                th Expression 
                th Action
            tbody
                if attendata.length > 0
                    each attend in attendata
                        tr                        
                            td #{moment(attend.date).format('DD/MM/YYYY')} 
                            td #{attend.userdata.name}
                            td #{attend.status}
                            td #{attend.expression}
                            td
                                a(href="/attendance/delete/#{attend._id}") Delete
                else 
                    tr
                        td(colspan="4") No Record has been found

        